@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background: #EEEEEE;
}

header{
	padding: 5px;
	width: 100%;
	height: 70px;
	background: white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

header ul{
	display: flex;
	list-style: none;
	float:right;
	
}
header ul li{
	margin-right: 20px;
	margin-top: 5px;
	list-style: none;
}

header ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	background: white;
	border-radius: 5px;
	transition: background-color 0.3s;
}

header ul li a:hover{
	border-radius: 5px;
	background: #676767;
	color: white;
}

.logo{
	width: 150px;
	position: absolute;
	margin-top: 5px;
	margin-left: 30px;
}

#btnDN{
	background: none;
	color: #FF7E00;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid #FF7E00;
	transition: background-color 0.3s;
}
#btnDN:hover{
	background: #FF7E00;
	color: white;
}

.hinhdd{
	background: none;
	margin-top: -7px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#menu{
	display: none;
	position: absolute;
	margin-left: 1100px;
	width: 150px;
	height: 170px;
	background: white;
	z-index: 9999;
	padding: 0;
}

#menu li {
	list-style: none;
	margin-bottom: 10px;
	height: 50px;
	width: 100%;
}

#menu li a {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 50px;
}

#menu li a:hover {
	border: 1px solid #FF7E00;
	color: #FF7E00;
}


.chat{
	width: 50px;
	height: 226px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.chat img{
	width: 90%;
	margin-top: 5px;
}

#chatImg{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	background-color: #FF7e00;
}

#mess{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	background-color: rgba(42,0,255,1.00);
	display: none;
}

#zalo{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	background-color: white;
	display: none;
}

#hotline{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	background-color: grey;
	display: none;
}
.chat:hover{
	cursor: pointer;
}

.khungChat {
	display: none;
	width: 300px; /* Điều chỉnh kích thước theo nhu cầu */
	height: 400px; /* Điều chỉnh kích thước theo nhu cầu */
	overflow: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá kích thước khungChat */
	background: white;
	position: fixed;
	right: 70px;
	bottom: 10px;
	border: 1px solid black;
}

.headerKhungChat{
	width: 100%;
	height: 50px;
	background-color: #FF7E00;
	display: flex;
}

.headerKhungChat b{
	font-size: 16px;
	color: white;
	margin-top: 15px;
	margin-left: 10px;
}

.headerKhungChat a{
	text-decoration: none;
	color: black;
	margin-top: 15px;
	margin-left: 60px;
	font-size: 16px;
}
header input{
	width: 300px;
	height: 40px;
	margin: 7px;
	border-radius: 10px;
	padding-left: 10px;
	float: left;
}

.messageContainer {
	max-height: 300px; /* Đặt chiều cao tối đa cho khung tin nhắn */
	overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá chiều cao tối đa */
}
.user-message {
	white-space: pre-wrap; /* Cho phép xuống dòng trong tin nhắn */
	word-wrap: break-word; /* Tách từ khi vượt quá chiều rộng của khung tin nhắn */
	margin: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 5px;
	max-width: 80%;
}

.system-message {
	white-space: pre-wrap; /* Cho phép xuống dòng trong tin nhắn */
	word-wrap: break-word; /* Tách từ khi vượt quá chiều rộng của khung tin nhắn */
	margin: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	padding: 5px;
	display: inline-block;
	background-color: #FF7E00;
	max-width: 80%;
}

.bottomKhungChat{
	width: 300px;
	bottom: 10px;
	position: fixed;
	height: 50px;
	background-color: #FF7E00;
}

.bottomKhungChat input{
	width: 200px;
	border-radius: 10px;
	border: none;
	margin-top: 5px;
}

.bottomKhungChat button{
	width: 60px;
	height: 42px;
	background-color: white;
	border: none;
	border-radius: 10px;
}

.bottomKhungChat button:hover{
	background-color: blue;
}
.searchPanel{
	top: 50%;
	left: 50%;
	transform: translate(13%,50%);
	z-index: 9999;
	background: #FF7E00;
	opacity: 60%;
	border-radius: 10px;
	width: 1000px;
	height: 60px;
}

input {
  width: 300px;
  height: 40px;
  margin: 7px;
  border-radius: 5px;
  padding-left: 10px;
}

select{
	width: 180px;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
}

#btnTK{
	padding: 10px 20px;
	border-radius: 5px;
	background: blue;
	text-decoration: none;
	color: white;
	
}

.lb1{
	margin-top: 70px;
	margin-left: 135px;
}

.leftCon{
	margin-left: 135px;
	width: 650px;
	height: 1400px;
	border-radius: 5px;
	background: white;
	float:left;
	border: 1px solid lightgrey;
}

.arrange{
	margin:20px;
}

.arrange a{
	text-decoration: none;
	padding: 5px;
	background: gray;
	border-radius: 5px;
	color: white;
	transition: background-color 0.3s;
}

.arrange a:hover{
	background: #FF7E00;
}

.rightCon{
	width: 320px;
	height: 1000px;
	float:right;
	margin-right: 135px;
}
.contentRight{
	width: 100%;
	height: 300px;
	border-radius: 5px;
	background: white;
	border: 1px solid lightgrey;
}

.middleRight{
	width: 100%;
	height: 300px;
	margin-top: 10px;
	background: white;
	border-radius: 5px;
	text-align: center;
}
.nt1{
	margin-top: 20px;
	margin-left: 20px;
	width: 90%;
	height: 250px;
	transition: transform 0.3s ease;
}

.nt1:hover{
	transform: translateY(-5px);
}

.themYT{
	text-decoration: none;
	color: #FF7E00;
	font-weight: bold;
	padding: 10px;
	background: white;
	border: 1px solid #FF7E00;
	border-radius: 5px;
}

.nt1 p{
	margin-top: 5px;
}
.themYT:hover{
	background: #FF7E00;
	color: white;
}
.content img{
	width: 30%;
	margin-right: 10px;
	border-radius: 5px;

	float:left;
}

.Name{
	color: blue;
	font-size: 16px;
	font-weight: bold;
}

.Price{
	color: green;
}

sup{
	margin-right: 20px;
}

.leftCon hr{
	width: 100%;
}
.nt1 a{
	margin-right: 20px;
	text-decoration: none;
	color: none;
}

.contentRight h2{
	text-align: center;
}

.slider {
  width: 100%;
}

.slider p{
	float: left;
	margin-left: 25px;
	margin-top: -10px;
}

.slider-range {
	margin-left: 25px;
	width: 90%;
}

#value {
  display: inline-block;
  width: 30px;
}

.daugach{
	margin-left: 25px;
	font-weight: bold;
}

.daugach:hover{
	color: blue;
}

.middleRight {
	text-align: center;
}
  
.checkboxContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.checkboxLabel {
	display: flex;
	align-items: center;
}

.checkboxLabel input[type="checkbox"] {
	margin-right: 0px;
	width: 20px;
}

.bottomRight{
	background: white;
	border-radius: 5px;
	width: 100%;
	height: 250px;
	margin-top: 25px;
}

.bottomRight a{
	text-decoration: none;
	color: black;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.bottomRight a:hover{
	color: #FF7E00;
}

.footer {
	background-color: white;
	margin-top: 1500px;
	width: 100%;
	height: 300px;
}
 
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
  }
  
 
  .footer-col {
    flex-basis: 23%;
  }
  
  .footer_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    width: 125px;
    height: 125px;
    margin-left: 10px;
    object-fit: cover;
  }
  
  .footer_info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer_info i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .footer_location-desc {
    margin: 0;
  }
  
  .footer_social {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer_social li {
    margin-right: 10px;
  }
  
  .footer_social img {
    width: 30px;
    height: 30px;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
  }
  
  .footer-menu li {
    margin-bottom: 5px;
  }
  
  .footer-menu li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-menu li a:hover {
    color: #ba3d1b;
  }
  
  .footer_coppyright {
    margin-top: 20px;
    text-align: center;
  }
  
  
  @media (max-width: 768px) {
    .footer-col {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  } 